*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}


.nav-menu a {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
}

.nav-menu > li {
    margin-left: 10px;
}

.nav-menu ul {
    margin: 16px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 12px;
    text-transform: none;
}

.nav-menu ul li:hover > a {
    color: #b68834;
}

.nav-menu ul ul {
    margin: 0;
}


.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 100px;
    padding-left: 100px;
}

.header {
    background: url(assets/header-bg.jpg.webp) center;
    background-size: cover;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 920px;
}

.header .header-lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-lower .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.header-top .container ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    font-weight: 600;
}

.banner-area .container {
    color: white;
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    line-height: 1.4;
}

h6 {
    font-size: 1.2rem;
    font-weight: 600;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

.banner-area .container {

}


.btn-container {
    margin-top: 1rem;
}

.primary-btn {
    background: white;
    padding: 1rem 2rem;
    border-radius: 50px;
    color: black;
}

.first-section .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 4rem;
}

.first-section .container .text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    max-width: 30%;
    line-height: 1.2;
}

.first-section .container .text-container h1,
.first-section .container .text-container h6 {
    color: black;
}

.brown {
    color: #B68834;
}

section.section-gap {
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    padding: 6rem 0;
}

section.section-gap .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

section.section-gap .container .title.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


section#coffee .row {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 2rem;
}

div.col-lg-4 {
    gap: 1rem;
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 2px 2px 5px rgba(105, 88, 32, 0.3);
}

.title-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-menu  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.price {
    font-weight: 700;
    color: #B68834;
}

#gallery {
    background-color: white;
}

#statistic {
    color: white;
    background-color: #B68834;
}

.star-checked {
    color: #FFA502
}

.reviews {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    width: 70%;
}

.review-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.numbers {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 8rem;
}

.number-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.number-card h1 {
    font-size: 4rem;
    font-weight: 50;
}

#photos {
    background-color: white;
    color: black;
}

.photos {
    display: flex;
    justify-content: space-evenly;
}

.photo-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
}

.photo-card .tags {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.photo-card .tags span {
    font-weight: 700;
    padding: .2rem .5rem;
    border: 1px solid lightgrey;
    border-radius: 20px;
}

.photo-card .description {
    width: 70%;
}

footer {
    color: white;
    padding: 15rem 0 5rem 0;
    background: url(assets/footer-background.png) center;
    background-size: cover;
}

footer .row {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.single-footer-widget {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.single-footer-widget.about {
    width: 35%;
}

.single-footer-widget.about a {
    color: #FFA502;
}

.single-footer-widget input {
    padding: .5rem;
    border: none;
}

.single-footer-widget button {
    background: #FFA502;
    padding: .5rem .5rem;
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-social a {
    color: white;
    cursor: pointer;
}

.footer-social a:hover {
    color: #FFA502;
}

.footer-social a i {
    font-size: 1.5rem;
    font-weight: 700;
}
